
.board{
    height: 105vh;
    width: 50vw;
    margin: 0 auto;
    /* z-index: 10; */
    background-size: cover;
    position: relative;
}

.board-container{
padding-top: 4.5%;
}

.container-holder {
    display: flex;
    justify-content: center;
}

.img-container img{
width: 175px;
height: 250px;
margin: 0 auto;
/* padding-right: 2%; */
/* padding-left: 5%; */
}

.board video {
    height: 35vh;
    width: 20vw;
}

.row{
    display: table;
}

.pricingMenu{
    padding-top: 6%;
    /* padding-bottom: 15%; */
    text-align: center;
}

.title {
    font-size: 46px;
    font-family: 'College Bold', bold;
    color: white;
    margin: 0;
}

.menu-items{
    font-size: 26px;
    font-family:'College Bold', bold;
    color: white;
}

.menu-description{
    font-size: 20px;
    font-family:'College Bold', bold;
    color: white;
    width: 85%;
    padding-left: 15%;
    text-align: center;
}

.pole {
    height: 400px;
    width: 225px;
    position: fixed;
    /* padding-top: 10%; */
}

.pole img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.pole1 {
    height: 400px;
    width: 250px;
    float:right;
    position: relative;
    /* padding-top: 10%; */
    margin-top: 8%;
}

.pole1 img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.picture2{
    padding-left: 1.5%;
    padding-right: 1.5%;
}