.apptBtn{
    float:right;
}
.apptCalendar{
    margin: 0 auto;
    background-color: whitesmoke;
    position: relative;
}

.calendar{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.dropdown {
    border: 1px solid black;
}